
.title,
.start__about-form__button,
.start__about-form__input::placeholder,
.menu,
.advantages__quote-autor {
    font-family: 'Raleway', sans-serif;  
}
html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
}
.logo__header {
    width: 100px;
}

.menu__list {
    display: flex;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin-left: 10px;
    padding: 0;
    list-style: none;
}
.menu__link {
    text-decoration: none;
    transition: color .3s ease;
}

.start {
    background: url('images/bg-curve-mobile.svg') bottom no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
}
.start__inner {
    text-align: center;
}
.start__images img,
.advantages__images img {
    width: 100%;
}
.start__about-text {
    padding: 0 5px;
}
.start__about-form {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.start__about-form__input,
.start__about-form__button,
.access__form-input {
    border: none;
    border-radius: 5px;
    outline: transparent;
    padding: 15px 10px;
}
.start__about-form__input,
.access__form-input {
    border: 1px solid #000;
    margin-bottom: 10px;
}
.start__about-form__button {
    cursor: pointer;
    color: #fff;
    background-color: hsl(224, 93%, 58%);
}
.btn {
    border: none;
    border-radius: 5px;
    outline: transparent;
    padding: 15px 10px;
    cursor: pointer;
    color: #fff;
    background-color: hsl(224, 93%, 58%);
    font-size: 18px;
}

.advantages {
    background-color: hsl(240, 75%, 98%);
    padding: 50px 0;
}
.advantages__inner {
    text-align: center;
}
.advantages__text {
    text-align: left;
}
.advantages__link {
    position: relative;
    padding-right: 25px;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    padding-bottom: 6px;
    margin-bottom: 40px;
    display: inline-block;
}
.advantages__link::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 50%;
    transform: translateY(-10px);
    background-image: url('images/icon-arrow.svg');
}

.advantages__quote {
    position: relative;
    padding: 55px 10px 25px 0;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0, .5);
}
.advantages__quote::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url('images/icon-quotes.svg');
    top: 25px;
    left: 30px;
}
blockquote {
    font-size: 14px;
    margin: 0 0 0 30px;
}
.advantages__quote-box {
    display: flex;
    margin-top: 20px;
}
.advantages__quote img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.advantages__quote-autor {
    font-weight: 700;
}
.advantages__quote-position {
    font-weight: 400;
}

.access {
    padding: 50px 0;
    background-color: hsl(238, 22%, 44%);
    text-align: center;
    color: #fff;
}
.access__form-input,
.access__form-button {
    width: 80%;
}


.footer {
    padding: 50px 0;
    background-color: hsl(243, 87%, 12%);
    color: #fff;
}
.footer .logo {
    margin-bottom: 20px;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.footer a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease
}
.footer__contacts,
.footer__about,
.footer__contact {
    margin-bottom: 20px;
}
.footer__contacts a {
    padding-left: 30px;
    position: relative;
    display: block;
}
.footer__contacts a:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('images/icon-phone.svg');
}
.footer__contacts a:last-child:before {
    width: 20px;
    height: 16px;
    background-image: url('images/icon-email.svg');
}
.footer__social {
    text-align: center;
    transition: all .3s ease;
}
.footer__social span {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
}
.footer__social:nth-child(2) {
    margin: 0 10px;
}

@media (max-width: 350px) {
    .menu {
        display: none;
    }
}
@media (min-width: 376px) {
    .start {
        background: url('images/bg-curve-desktop.svg') bottom repeat-x;
    }
}
@media (min-width: 450px) {
    .advantages__quote {
        width: 400px;
    }
    .menu__item {
        margin-left: 20px;
    }
    .menu__link:hover {
        color: hsl(0, 0%, 75%);
    }
}
@media (min-width: 600px) {
    .logo__header {
        width: 100%;
    }
    .start__inner, .advantages__inner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        text-align: left;
    }
    
    .advantages__inner {
        align-items: flex-start;
    }
    .start__images {
        width: 80%;
    }
    .advantages__images {
        width: 70%;
    }
    .start__about,
    .advantages__box,
    .access__box {
        width: 50%;
    }
    .start__about-title, .title {
        width: 500px;
        font-size: 30px;
        line-height: 35px;
    }
    .start__about-text, .text {
        width: 537px;
        padding: 0 0px;
    }
    .start__about-form {
        padding: 0 0px;
        display: flex;
        flex-direction: row;
    }
    .start__about-form__button {
        width: 180px;
        padding: 10px;
    }
    .start__about-form__input {
        margin-bottom: 0px;
        width: 240px;
        margin-right: 15px;
        padding: 10px;
    }
    .access__inner {
        text-align: left;
    }
    .footer__inner {
        display: flex;
        justify-content: space-between;
    }
    .footer a:hover {
        color: hsl(0, 0%, 75%);
    }
    .footer__social a:hover > span {
        color: hsl(0, 0%, 75%);
        border-color: hsl(0, 0%, 75%);
    }
}
@media (min-width: 750px) {
    .access__inner {
        display: flex;
        justify-content: space-between;
    }
    .access__form-input {
        width: 100%;
    }
    .access__form-button {
        width: 55%;
    }
    .access__title {
        margin-top: 0;
    }
}
@media (min-width: 1100px) {
    .footer__social {
        margin-right: 177px; 
    }
}














